@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
	font-family: "Rubik", sans-serif;
	--primary-color: #3a3a3a;
	--secondary-color: #fff;
	--tertiary-color: #000;
	--article-sub-bgc: #f5c2cd;
	--article-sub-border-color: #bc5c70;
}

body {
	height: 100vh;
	background: url("../assets/stone.png");
	width: 100%;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	gap: 8px;
}

.divHeaderH1 {
	display: flex;
	align-items: center;
	gap: 12px;
}

.title-header {
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	color: var(--secondary-color);
}

label {
	display: flex;
	align-items: center;
	border-radius: 999px;
	background-color: var(--secondary-color);
	width: 35%;
	padding: 8px 11px;
}

input {
	border: none;
	background-color: transparent;
	width: 100%;
}
.btn-burger {
	cursor: pointer;
	background-color: transparent;
	border: none;
}
main {
	position: relative;
	width: 100%;
}
.bg-cloud {
	background: url("../assets/background-cloud.jpg");
	height: 7.188rem;
	width: 100%;
}
.bg-dirt {
	background: url("../assets/background-dirt.svg");
	width: 100%;
	height: 16.563rem;
}
article {
	margin: 0 3.063rem;
	padding: 26px 30px;
	background-color: #e6eff4;
	border-radius: 4px;
}
h1 {
	font-weight: 300;
	font-size: 48px;
	color: var(--primary-color);
	padding-bottom: 1.5rem;
	line-height: 100%;
}
.artc-sub {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 10px;
	padding: 8px 12px 8px 8px;
	background-color: var(--article-sub-bgc);
	border-left: 5px solid var(--article-sub-border-color);
	margin-bottom: 1.5rem;
}
.para-artc-sub,
.span-artc-sub,
.first-para-sect,
.second-para-sect {
	font-size: 16px;
	line-height: 100%;
}
.para-artc-sub,
.first-para-sect,
.second-para-sect {
	font-weight: 400;
}
.span-artc-sub,
.first-span-sect {
	font-weight: 600;
}
.first-para-sect,
.second-para-sect {
	padding-bottom: 1.5rem;
}
h2 {
	color: var(--primary-color);
	font-size: 22px;
	font-weight: 500;
}
hr {
	height: 1px;
	width: 100%;
	border-radius: 2px;
	background-color: var(--primary-color);
	margin: 10px 0;
}
.list-sect-para {
	color: var(--tertiary-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	padding-bottom: 32px;
}
.search-form {
	width: 100%;
	margin-bottom: 1.5rem;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	width: 100%;
}
.choose-form {
	padding: 11px;
}
h3 {
	color: var(--primary-color);
	padding-bottom: 8px;
	font-weight: 700;
	font-size: 14px;
}
select {
	border-radius: 4px;
	padding: 5px 0;
	border: none;
	width: 100%;
}
.input-form {
	width: 100%;
	background-color: var(--secondary-color);
	border-radius: 4px;
	padding: 8px;
}
.input-form::placeholder {
	color: #dbdbdb;
	font-weight: 700;
	font-size: 12px;
}
.btn-submit {
	background-color: #4F8C69;
	width: 50%;
	border: none;
	border-radius: 999px;
	padding: 4px 0;
	font-size: 22px;
	font-weight: 700;
	color: var(--secondary-color);
}
