nav {
    display: none;
}

.active {
    position: absolute;
    z-index: 100;
    display: block;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    overflow: hidden;
    padding: 11px 15px;
}

.divNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1.5rem;
}

.divNavMenuBurger {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.lienPage {
    font-weight: 600;
    font-size: 38px;
    line-height: 100%;
    color: #fff;
    text-decoration: none;
}